@font-face {
    font-family: 'RUSKOF';
    src: url('RUSKOF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Motherland';
    src:url('Motherland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cyberia';
    src:url('Cyberia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Soviet';
    src:url('Soviet.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  display: inline-block;
  margin: 5%;
  word-wrap: normal;
  background-image: url("wallTop.jpg"), url("wallTop.jpg"), url("wallSide.jpg"), url("wallSide.jpg"), url("backgr.jpg");
background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, repeat;
  background-position: top, bottom, left, right;
	background-size: 50%, 50%, 5%, 5%, 100%;
  }

section{
   float:left;
   max-width: 30%;
  padding-top: 5em;    
text-orientation: upright;
  writing-mode: vertical-lr;
  white-space: pre;
  text-align: left;
  text-transform: uppercase;
}

article{float:right;
  padding: 5%;
  max-width: 60%;
  transform: rotate(-10deg) skew(-10deg) scale(0.985);
  }

h1{ 
 font-family: 'RUSKOF';
    font-size: 68px;
    font-weight: normal;
    font-style: normal;
 margin: 0px;
 color: #800000;
} 

h2{font-family: 'Motherland';
    font-weight: normal;
    font-style: normal;
font-size: 48px;
margin: 0px;
color: #800000;
}

h3{
  font-family: 'RUSKOF';
    font-weight: normal;
    font-style: normal;
 font-size: 48px;
 margin: 0px;
 color: #800000;
}

h4{
  font-family: 'RUSKOF';
    font-weight: normal;
    font-style: normal;
 font-size: 46px;
 margin: 0;
}

h5{
  font-family: 'Motherland';
    font-weight: normal;
    font-style: normal;
font-size: 40px;
}

h6{font-family: 'Motherland';
    font-weight: normal;
    font-style: normal;
font-size: 36px;
}

p{  font-family: 'Cyberia';
    src:url('Cyberia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  font-size: 30px;
  word-break: normal;
  }

 div.textsec{
 font-family: 'Cyberia';
   font-size: 30px;
    font-weight: normal;
    font-style: normal;
    margin: 5px;
}

 figure{ 
  padding: 5px;
  border: 3px solid black;
  display:inline-block;
  max-width: 1200px;
  max-height: 1200px;
  object-fit: contain; 
  margin:100px; 
  background-color: #800000;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");}

figcaption{font-family: 'Soviet';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
 	float:right;
 	padding: 10px;
 	color: rgb(238,232,170);
 	max-width: 80px;
 	word-break: break-all;
 }

img{margin: auto;
	max-height: 200px;
	width: auto;
	float: left;	
	filter: gray; 
  -webkit-filter: grayscale(1) invert(1);
filter: grayscale(1) invert(1);
}

blockquote{
font-family: 'Soviet';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    margin:72px;
}

a:link, a:visited {
    text-decoration: underline;
    color: #800000;
    background-color: transparent;
}
a:visited {
    text-decoration: underline;
    color: rgb(238,232,170);
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: underline overline;
    color: rgb(36,35,35);
}

ol,ul{
	margin: 72px;
}

li{
	font-family: 'Cyberia';
    font-weight: normal;
    font-style: normal;
  font-size: 36px;
}

.oneColumn {
  column-count: 1;
background-image: url("wall.jpg");
background-repeat: repeat;
  background-position: all;

}  
#left{
  background: url(backgr.jpg);
  background-size: contain;
}
#right {
 float: right;
 background: url(backgr.jpg);
  background-size: contain;
}
#left, #right {
  display:inline-block;
  vertical-align:top;
  width: 45%;
  margin: 5px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.lHighlight, .rHighlight{
  background-color:rgb(238,232,170);
}

#titlesec, #titlesec1{
  padding-top: 5em;    
text-orientation: upright;
  writing-mode: vertical-lr;
  white-space: pre;
  text-align: left;
  text-transform: uppercase;
}

.textsec{
  padding: 5%;
  transform: rotate(-10deg) skew(-10deg) scale(0.985);
}

table, th, td {
  border: 1px solid;
  border-color: #800000;
  border-spacing: 0;
  margin: 5px;
  font-family: 'Cyberia';
    font-weight: normal;
    font-style: normal;
  font-size: 30px;
}
.special{max-width: 80%;}
	


 
